environment:
  matrix:
    - nodejs_version: '8'
    - nodejs_version: '6'
    - nodejs_version: '4'
    - nodejs_version: '4.0.0'

install:
  - ps: Install-Product node $env:nodejs_version
  - yarn

test_script:
  - node --version
  - npm --version
  - npm test

build: off
